.grecaptcha-badge {
    visibility: hidden;
}

.button_gradient {
    background: #91ad41;
    background-image: -moz-linear-gradient(
        35deg,
        #91ad41 0%,
        #ff8a6c 100%
    ) !important;
    background-image: -webkit-linear-gradient(
        35deg,
        #91ad41 0%,
        #ff8a6c 100%
    ) !important;
    background-image: -ms-linear-gradient(
        35deg,
        #91ad41 0%,
        #ff8a6c 100%
    ) !important;
}

.text_gradient {
    background: -moz-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
    background: -webkit-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
    background: -ms-linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}
